<section class="status">
  <section class="status-author">
    <p>
      <%= @status.key.primary_name %> wrote&hellip;
    </p>
  </section>

  <section class="status-body">
    <p><%= @status.body %></p>
  </section>

  <section class="author-validation">
    <p><a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=<%= @status.formatted_keyid %>"><%= pluralize @status.key.signers.count, "person" %></a>, including 

      <% @status.some_key_signers.each do |signer| %>
        <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=<%= signer.formatted_keyid %>"><%= signer.primary_name %></a>, 
      <% end%>

    trust that this message was written by <%= @status.key.primary_name %></a>.
    </p>
  </section>
</section>

<section class="status-original">
  <section class="status-original-body">
<pre>
<%= @status.signed_body %>
</pre>
  </section>
</div>
