<section class="status">
  <section class="status-author">
    <p>
      <%= @status.key.primary_name %> &lt;<%= @status.key.primary_email %>&gt; wrote...
    </p>
  </section>

  <section class="status-body">
    <p><%= @status.body %></p>
  </section>

  <section class="author-validation">
    <p>
      <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=<%= @status.formatted_keyid %>">
        <%= @status.formatted_keyid %>
      </a>
      has been signed by <%= pluralize @status.key.signers.count, "keys" %> including:</p>
      <ul>
        <% @status.some_key_signers.each do |signer| %>
          <li>
             <%= signer.primary_name %>
             &lt;<%= signer.primary_email %>&gt;
             <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=<%= signer.formatted_keyid %>">
               <%= signer.formatted_keyid %>
             </a>
          </li>
        <% end%>
      </ul>
  </section>
</section>

<section class="status-original">
  <section class="status-original-body">
<pre>
<%= @status.signed_body %>
</pre>
  </section>
</div>
