<section class="status">
  <section class="author-validation">
    <p><%= pluralize @status.key.signers.count, "person" %> trust that <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=<%= @status.formatted_keyid %>"><%= @status.key.primary_name %></a> wrote:</p>
  </section>

  <section class="status-body">
    <p><%= @status.body %></p>
  </section>

  <section class="status-date">
    <p>Posted <%= @status.created_at.to_formatted_s(:month_and_year) %></p>
  </section>
</section>

<section class="status-original">
<section class="status-original-body">
<pre>
<%= @status.signed_body %>
</pre>
</section>
</section>
