<section class="status">
  <section class="author-validation">
    <p><a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=<%= @status.formatted_keyid %>" class="mit"><%= pluralize @status.key.signers.count, "person" %></a> trust that <%= link_to(@status.key.primary_name, key_path(@status.key.formatted_keyid)) %> wrote:</p>
  </section>

  <section class="status-body">
    <p><%= @status.body %></p>
  </section>

  <section class="status-date">
    <p>Posted <%= @status.created_at.to_formatted_s(:month_and_year) %></p>
  </section>
</section>

<section class="status-original">
<section class="status-original-body">
<pre>
<%= link_to(@status.source_sig, hex_path(@status.hexid, format:"asc"), title: "Download PGP-signed post") %>
</pre>
</section>
</section>
