<section class="posts">
  <h3><a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=<%= @key.formatted_keyid %>" class="mit"><%= pluralize @key.signers.count, "person" %></a> trust that <%= @key.primary_name %> wrote these posts:</h3>

  <ul class="post-list">
    <% @statuses.each do |status| %>
      <li>
        <h4><%= link_to(truncate(status.body, length: 50, separator: ' '),
                      hex_path(status.hexid)) %></h4>
        <p>Posted <%= status.created_at.to_formatted_s(:month_and_year) %></p>
      </li>
    <% end %>
  <ul>
</section>
