<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta name="description" content="Post PGP-signed content without creating a username or password.">
  <link href='http://fonts.googleapis.com/css?family=PT+Mono|Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'> 
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54345105-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body class="<%= body_class %>">
  <header class="top-level-header">
    <h1><a href="/">mnfst</a></h1>
    <h2><%= link_to 'What is this?', page_path('about') %></h2>
  </header>

  <section class="container">
    <%= render 'flashes' -%>
    <%= yield %>
    <%= render 'javascript' %>
  </section>

  <footer>
    <p>A project by <a href="https://twitter.com/mikeburns">@mikeburns</a>, <a href="https://twitter.com/rmeritz">@rmeritz</a> & <a href="https://twitter.com/ubuwaits">@ubuwaits</a>. Grab the code on <a href="https://github.com/mnfst">GitHub</a>.</p>
  </footer>

</body>
</html>
