<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=PT+Mono|Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'> 
  <%= csrf_meta_tags %>
</head>

<body class="<%= body_class %>">
  <header class="top-level-header">
    <h1><a href="/">mnfst</a></h1>
    <h2>
      <p class="cta-instructions"><%= link_to 'What is this?', page_path('about') %></p>
    </h2>
  </header>

  <section class="container">
    <%= render 'flashes' -%>
    <%= yield %>
    <%= render 'javascript' %>
  </section>
</body>

</html>
